<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleInput.css') }}">
    <title>Input Data Pemilih</title>
</head>
<body>
    <header>
        <h1>Input Data Pemilih</h1>
    </header>
    <section class="bio-section">
        <div class="corner-buttons">
            <button id="inputDataButton" onclick="navigateTo('/input')">Input Data</button>
            <button id="displayButton" onclick="navigateTo('/')">Display</button>
            <button id="logoutButton" onclick="navigateTo('/login')">Logout</button>
        </div>
    </section>
    <section class="form-section">

        <!-- Tabel Data Pemilih -->
        <form id="inputForm" action="{{ url_for('input') }}" method="post" onsubmit="return cekData()">
            <label for="nik">NIK:</label>
            <input type="text" id="nik" name="nik">
    
            <label for="koordinator">Koordinator:</label>
            <input type="text" id="koordinator" name="koordinator">
    
            <!-- Pilihan untuk jenis pengecekan -->
            <label>Jenis Pengecekan:</label>
            <select id="jenisPengecekan" name="jenisPengecekan">
                <option value="ganda">Data Ganda</option>
                <option value="nik_dpt">NIK DPT</option>
            </select>
    
            <!-- Tombol untuk menjalankan pengecekan -->
            <button type="button" onclick="cekData()">Cek Data</button>

            <label for="nama">Nama</label>
            <input type="text" id="nama" name="nama" required>
        
            <label for="noKTP">Nomor KTP</label>
            <input type="text" id="noKTP" name="noKTP" required>
        
            <label for="Kecamatan">Kecamatan</label>
            <input type="text" id="Kecamatan" name="Kecamatan" required>
        
            <label for="Kelurahan">Kelurahan</label>
            <input type="text" id="Kelurahan" name="Kelurahan" required>
        
            <label for="tps">TPS</label>
            <input type="text" id="tps" name="tps" required>
        
            <label for="koordinator">Koordinator</label>
            <input type="text" id="koordinator" name="koordinator" required>
        
            <button type="submit">Submit</button>
        </form>
    </section>
        <!-- Modal HTML -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="modalMessage"></p>
            </div>
        </div>
    
    <script>
        document.getElementById('inputForm').addEventListener('submit', function (event) {
            event.preventDefault();

            // Ambil data formulir
            var formData = new FormData(document.getElementById('inputForm'));

            // Kirim data formulir ke server menggunakan Fetch API
            fetch('/input', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                // Tampilkan pesan dari server di dalam modal
                var modalMessage = document.getElementById('modalMessage');
                modalMessage.textContent = data.message;

                // Tampilkan modal
                var modal = document.getElementById('myModal');
                modal.style.display = 'block';

                // Kembalikan formulir ke keadaan awal jika tidak ada error
                if (data.success) {
                    document.getElementById('inputForm').reset();
                }
            })
            .catch(error => console.error('Error:', error));
        });

        // Fungsi untuk menutup modal
        function closeModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = 'none';
        }


        // Fungsi untuk menutup modal jika diklik di luar area modal
        window.onclick = function (event) {
            var successModal = document.getElementById('myModal');
            if (event.target == successModal) {
                successModal.style.display = 'none';

                // Refresh halaman
                window.location.reload();
            }
        };

        // Fungsi untuk menutup modal jika diklik tombol close
        document.getElementsByClassName('close')[0].onclick = function () {
            closeModal();
        };
    
        function navigateTo(route) {
            window.location.href = route;
        }

        function cekData() {
            var nikInput = document.getElementById('nik').value;
            var koordinatorInput = document.getElementById('koordinator').value;
            var jenisPengecekan = document.getElementById('jenisPengecekan').value;

            // Lakukan request ke endpoint sesuai jenis pengecekan
            var endpoint = (jenisPengecekan === 'ganda') ? '/cek_data_ganda' : '/cek_nik_dpt';

            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    nik: nikInput,
                    koordinator: koordinatorInput,
                }),
            })
            .then(response => response.json())
            .then(data => {
                // Handle respons sesuai kebutuhan
                if (data.success) {
                    // Tampilkan data dalam alert
                    alert(data.message);
                } else {
                    // Tampilkan pesan error dalam alert
                    alert('Terjadi kesalahan: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Terjadi kesalahan saat mengambil data dari server');
            });
        }

    </script>

 
  <footer>
   
  </footer>
</body>
</html>
